.productgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;

  &__noCards {
    color: crimson;
    grid-column: span 2;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
  }
}
