.productcard {
  width: 200px;
  height: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: beige;
  border-radius: 5px;
  border: 1px solid goldenrod;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    scale: 1.2;
  }

  &__brand {
    color: goldenrod;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
  }

  &__product {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }

  &__price {
    color: crimson;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
  }
}
